<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xsi:schemaLocation=
"http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<mvc:view-controller path="/main" view-name="main"/>
	
	<bean class="controller.RegisterController">
<!-- 	컨트롤러가 의존하는 MemberRegister객체를 spring-controller.xml설정파일에 의존주입 설정 -->
		<property name="memberRegisterService" ref="memberRegSvc"></property>
<!-- 	 memberRegSvc객체는 spring-member.xml 파일에 설정되어 있음  -->
	</bean>

	<!-- 컨트롤러 클래스 객체 생성  -->
	<bean class="survey.SurveyController"></bean>
	
	<!-- 로그인 인증 컨트롤러 객체 생성 -->
	<bean class="controller.LoginController">
		<property name="authService" ref="authService"></property>
	</bean>
	
	<!-- 로그아웃 컨틀롤러 객체 생성 -->
	<bean class="controller.LogoutController"></bean>
	
	<!-- 비밀번호 변경 컨트롤러 객체 생성 -->
	<bean class="controller.ChangePwdController">
		<property name="changePasswordService" ref="changePwdSvc"></property>
	</bean>
	
	<!-- 인터셉터 설정 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/edit/**"/>
				<bean class="interceptor.AuthCheckInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>








